html, body{
    padding: 0px;
    margin: 0px;
}

body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../imagenes_login/28.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1350px;    
}

#quiz {
    background: #dce0e0;
    width: 20rem;
    padding: 5rem;
    text-align: center;
    height: 76%;
       
}

h1{
    color: black;
    font-size: 3rem;
    text-align: center;
    padding: 0px 0px;
    margin-top: 0px;
}

#question{
    font-size: 1.7rem;
    color: black;
    margin-top: 0px;    
}

.buttons {
    margin-top: 30px;
}

.button {
    background-color: aqua;
    width: 250px;
    font-size: 20px;
    color: black;
    border-radius: 5rem;
    padding: 10px 20px;
    margin: 10px 40px 10px 0px;
}  
  

#progress{
    font-size: 20px;
}